.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App .Invoice {
  border: 1px solid gainsboro;
}

.App * {
  box-sizing: border-box;
  margin: 0;
}

.App button {
  margin-bottom: 16px;
  padding: 8px 16px;
  width: 100%;
  cursor: pointer;
}
